# Server Environment Variables
PORT=5002
MONGODB_URI=mongodb+srv://username:Darsi1899151@cluster.mongodb.net/database-name
JWT_SECRET=your_jwt_secret_key_here

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME= dsxunzyur
CLOUDINARY_API_KEY=294529543599431
CLOUDINARY_API_SECRET=oVEksbbjkCY_R89YSMOZHgkNYO0

# Client Environment Variables
VITE_API_URL=http://localhost:5002/api